table{	
	border-collapse: collapse;   /*兩條外框合成一條線*/
	border-spacing: 5px; 
	border-width: 5px; 
	border-style:outset;
    background-color:red;		
	width:1520px;height:670px;
     }
th{
background-color:yellow;
font-size: 200%;
	}
td{
background-color:#62d3d3;
font-size: 200%;
font-weight: 900;
text-align:center;
height:100px;
	}
.video_player{width:600px;height:550px;}
iframe{
	width: 100%;
	height: 100%;
	}
	
	.台視新聞{
	position:absolute;
    top: -9999px;
    left: -9999px;	
	}
